nav{
	background: transparent;
/*background: linear-gradient(0deg, rgba(0,0,255,1) 28%, rgba(127,123,250,1) 50%, rgba(0,0,255,1) 73%);*/
	width:calc(100% - 50px);
	padding:10px;
	position:fixed;
	top:0;
	left:0;
/*	text-align: right;*/
	padding-left:40px;
	z-index: 9;
}
nav .logo{
	position: fixed;
	right:25px;
	top:5px;
	font-size:30px;
	font-family:"TelegramaRaw", monospace;
}
.logo svg{
	width: 175px;
	fill:white;
}

nav a {
	box-shadow:5px 5px 0px rgb(0,0,0,0.7);
	background: #0041F5;
/*	color:#EAC805;*/
	border:1px solid white;
	border-radius: 18px;
	padding:2px 5px;
	font-weight: 400;
	font-size:18px;
	display: inline-block;
	margin-right:20px;
	text-decoration: none;
}
.Homepage nav a:first-child{
	background: #ECE9D8;
	border: 1px solid #EA3223;
	color: #EA3223;
}
.About nav a:nth-child(2){
	background: #ECE9D8;
	border: 1px solid #EA3223;
	color: #EA3223;
}
.happening nav a:first-child{
	background: #ECE9D8;
	border: 1px solid #EA3223;
	color: #EA3223;
}
.performer nav a:nth-child(3){
	background: #ECE9D8;
	border: 1px solid #EA3223;
	color: #EA3223;
}

#extra-back-button-for-no-reason{
/*	display:none;*/
}

@media(max-width: 768px){
	nav{
		margin-left:0px;
		width: 100%;
		text-align: left;
		padding:0;
		background:#0041F5;
		padding-bottom:5px;

	}
	.logo svg{
	width: 120px;
}

	nav a{
		margin-top:40px;
		font-size:12px;
		margin-right:0;
		margin-left:10px;
	}
	nav .logo{
		position: absolute;
		top:8px;
		left:10px;
		font-size:20px;
		font-family:"TelegramaRaw", monospace;
	}
}