nav{
	background: #0e0e0e;
	width:100%;
	padding:10px;
	position:fixed;
	top:0;
	left:0;
	margin-left:40px;
}
nav a {
	font-size:18px;
	
	display: inline-block;
	margin-right:15px;
	text-decoration: none;

}

@media(max-width: 768px){

	nav{
		margin-left:5px;
	}
}