.listing{
	display: block;
	margin: 15px 0;
	font-size:18px;
}
.listings{
	margin:0 50px;
}
#pop-up{
	width:calc(100vw - 100px);
	height:100vh;
	top:0;
	left:0;
	position: fixed; 
	background: rgba(0,0,0,0.9);
	z-index: 9999;
	display: flex;
	flex-direction: column;
	justify-content: center;
	padding:0 50px;
}
#pop-up .inner{
	max-width: 900px;
	display: block;
	margin:0 auto;
}
.marquee{
	position: fixed;
	top:5px;
	right:0;
	width:30%;

	background: #0e0e0e;
}
.listings, .happening-now{
	display: inline-block;
	width: calc(68% - 100px);
	padding:0px 0;
}

.happening-now{
	float:right;
	padding-top:0;
	background: #0e0e0e;
	padding:5px;

	height:100vh;
	overflow: scroll;
	width: calc(30%);
	border-left: 1px solid whitesmoke;
	margin: 0px 0px;
	text-align: right;
	margin-left:0;
	    position: fixed;
    top: 0px;
    right: 0;
}
.happening-listing {
    display: block;
	margin: 0 auto;


}
.happening-listing:first-child{
		padding-top:70px;
}
.happening-now img{
	max-width: 100%;
}
#over-modal{
	position: fixed;
	z-index: 9999999;
	top:0;
	left:0;
	display: flex;
	justify-content: center;
	flex-direction: column;
	background: #0e0e0e;
	width:100vw;
	height:100vh;
}
#over-modal > div{
	max-width: 800px;
	display: block;

	margin-top:-50px;
	margin:0 auto;
}
.happening-now h1{
	font-size:30px;
	text-align: center;
	margin-bottom:10px;
}





@media(max-width: 768px){
	.listings, .happening-now{
		display: block;
		width:calc(100% - 30px);
		padding:15px 0;
		float:none;
		text-align: left;
		margin:0 15px;
	}
	.happening-now{
		margin-bottom:25px;
		position: relative;
		height:auto;
		border:none;
		background: transparent;
	}
	.listing{
		margin:0;
	}
	#over-modal > div{
	max-width: 800px;
	padding:25px;
	display: block;

	margin-top:-50px;
	margin:0 auto;
}
	.listings{
		margin:0 15px;
	}
	.marquee{
	position: relative;
	top:auto;
	right:auto;
	width:auto;

	background: transparent;
}
	a.happening-listing{
		display: inline-block;
		width: 30%;
	}
	.happening-listing:first-child{
		padding-top:0px;
}

	#pop-up{
		width:calc(100vw - 40px);
		padding:20px;
	}
}