/*.pass-protected .image, .pass-protected .info{
	display: none;
}*/

.pass-protected.unlocked .image, .pass-protected.unlocked .info{
	display: inline-block;
}
.form{
	display: flex;
	flex-direction: column;
	width:100vw;
	height:100vh;
	padding:50px;
	text-align: center;
}
.form input{

	width: 500px;
	display: block;
	margin:0 auto;
	margin-top:15px;
	border:1px solid whitesmoke;
	color:whitesmoke;
	background: transparent;
	font-size:24px;
	font-family: "TelegramaRaw";
}
.image, .info{
	display: inline-block;
	width: calc(70% - 200px);
	margin:0 50px;
	padding: 0px;
}
.image.happening-now{
	width: 30%;
}
.image{
margin:0;
}
.image img{
	max-width: calc(100% - 50px);
	display: block;
	margin:15px auto;
	height: auto;
}
/*.link-list a{
	display: block;
}*/
@media(max-width: 768px){
	.image, .info{
		display: block;
		width: calc(100% - 30px);
		margin:0 15px;
		padding: 0px;
		position: relative;
	}
	.info{
		margin-top:15px;
	}
	.image.happening-now{
	width: 90%;
}
	.image{
		top:0;
/*		min-height: auto;
		float: right;
	    margin-top: 0;
	    margin-left: 0;*/


	}
	
}