/*.pass-protected .image, .pass-protected .info{
	display: none;
}*/

.pass-protected.unlocked .image, .pass-protected.unlocked .info{
	display: inline-block;
}
.form{
	display: flex;
	flex-direction: column;
	width:100vw;
	height:100vh;
	padding:50px;
	text-align: center;
}
.form input{

	width: 500px;
	display: block;
	margin:0 auto;
	margin-top:15px;
	border:1px solid whitesmoke;
	color:whitesmoke;
	background: transparent;
	font-size:24px;
	font-family: "TelegramaRaw";
}
.image, .info{
	display: inline-block;
	width: calc(50% - 100px);
	margin:0 50px;
	padding: 0px;
}
.image{
	float: right;
    width: calc(50% - 100px);
    padding-left: 30px;
    padding-top: 30px;
    margin-top: -50px;
    margin-left: 0;
    border-left: 1px solid white;

}
.image img{
	max-width: 100%;
	height: auto;
}
/*.link-list a{
	display: block;
}*/
@media(max-width: 768px){
	.image, .info{
		display: block;
		width: calc(100% - 30px);
		margin:0 15px;
		padding: 0px;
	}
	.image{
		float: right;
	    padding-left: 30px;
	    padding-top: 0px;
	    padding-bottom:30px;
	    margin-top: 0;
	    margin-left: 0;
	    border-left: none;

	}
	
}