
@font-face {
  font-family: "Redaction";
  src: url("./fonts/Redaction_50-Bold.woff2") format("woff2")
	
}

body{
	letter-spacing: 0.05rem;
	font-family: "Redaction";
  background: #0e0e0e;
  color: whitesmoke;
  font-size:18px;
  border-color: #0e0e0e;
}
a, a:hover, a:focus, a:active{
  color: inherit;
}

header{
	margin-top:50px;
}