
@font-face {
  font-family: "TelegramaRaw";
  src: url("./fonts/Redaction_50-Bold.woff2") format("woff2");
}

@font-face {
  font-family: "TelegramaRender";
  src: url("./fonts/telegrama/telegrama_render.otf") format("otf"),
        url("./fonts/telegrama/telegrama_render-webfont.woff2") format("woff2"),
       url("./fonts/telegrama/telegrama_render-webfont.woff") format("woff");
}
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@300;400&display=swap');
body{
	letter-spacing: 0.1rem;
	font-family: "TelegramaRaw";
  background: #0e0e0e;
/*  background:black;*/
  color: whitesmoke;
  font-size:24px;
  line-height: 1.3;

}
button{
  background: #0e0e0e;
  color:whitesmoke;
  outline:none;
  border:none;
  font-family: 'TelegramaRaw';
  font-size:24px;
  padding:15px;
  text-decoration: underline;
  cursor:pointer;
}
a, a:hover, a:focus, a:active{
  color: inherit;
}
a.listing:visited{
/*  color: #551A8B;*/
  color: #9694948c;
}
a.link, a.link:hover, a.link:focus, a.link:active{
  color: whitesmoke;
}
a:hover{
  opacity: 0.9;
}
header{
	margin-top:100px;
}
#extra-back-button-for-no-reason{
  font-family: 'IBM Plex Sans', sans-serif;
  text-decoration: none;
}
.brown-pro{
  font-family:'IBM Plex Sans', sans-serif;
  line-height: 1.3;
  letter-spacing: 0.02rem;
/*  font-size:24px;*/
}
p,h1{
  margin:0;
}
p{
  margin:15px 0;
}
.section{
  margin-top:5rem;
}
.oops-message{
  margin-top:75px;
  margin-left:50px;
}
h1,h2,h3,h4{
  font-size:40px;
  font-family: "TelegramaRaw";
  font-weight:normal;
  margin:0;
}

@media(max-width:768px){
  header{
  margin-top:50px;
}
h1,h2,h3,h4{

  font-size:34px;
}
body{
  font-size:20px;
}
.oops-message{
  margin-left:15px;
}
}