
@font-face {
  font-family: "TelegramaRaw";
  src: url("./fonts/telegrama/telegrama_raw.otf") format("otf"),
        url("./fonts/telegrama/telegrama_raw-webfont.woff2") format("woff2"),
       url("./fonts/telegrama/telegrama_raw-webfont.woff") format("woff");
}

@font-face {
  font-family: "TelegramaRender";
  src: url("./fonts/telegrama/telegrama_render.otf") format("otf"),
        url("./fonts/telegrama/telegrama_render-webfont.woff2") format("woff2"),
       url("./fonts/telegrama/telegrama_render-webfont.woff") format("woff");
}
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@300;400&display=swap');

body{
	letter-spacing: 0.1rem;
	font-family: "Helvetica", sans-serif;
  background: #0041F5;
  color: white;
  font-size:18px;
  line-height: 1.3;

}

.happening-now.urgent{
  position: fixed;
  z-index: 9999999;
 
  left:50%;
  transform:translateX(-50%);
  -webkit-transform:translateX(-50%);
  -moz-transform:translateX(-50%);
  -o-transform:translateX(-50%);

}
.happening-now.urgent .inner-popup{
  color:black;
  text-align: center;
  padding:15px;
  padding-top:25px;
}
.happening-now.urgent .inner-popup button.ok{
    color:#EA3223;
  background: #ECE9D8;

  border:1px solid #EA3223;
  padding:2px 10px;
  font-size:18px;
  cursor: pointer;
  border-radius: 18px;
    display: inline-block;
    margin: 15px auto;
 
}
.happening-now.urgent .inner-popup button.ok:hover{
  filter:brightness(80%);
  -webkit-filter:brightness(80%);
  -moz-filter:brightness(80%);
  -o-filter:brightness(80%);
}
.top-bar{
  background: #0041F5;
  background: linear-gradient(0deg, #0041F5 28%, rgba(236,233,216,0.5) 50%, #0041F5 73%);
/*  position: absolute;*/
  top:0;
  left:0;
  width:100%;
  text-align: left;
  border-bottom:2px solid black;

  padding:0 0px 2px;
}
.top-bar button:nth-child(2){
  font-size:18px;
}
.top-bar button:first-child{
  background:#EA3223;
}
.top-bar button:hover{
  filter:brightness(80%);
  -webkit-filter:brightness(80%);
  -moz-filter:brightness(80%);
  -o-filter:brightness(80%);
}
.top-bar button{
  background: #0041F5;
  outline:none;
  cursor:pointer;
  box-shadow:none;
  border:1px solid white;
  border-radius:5px;
  line-height: 0;
  height:20px;
  width:24px;
  vertical-align: middle;
  color:white;
  text-align: center;
  margin: 0 5px;
  font-size:12px;
}
a, a:hover, a:focus, a:active{
  color: #F0F453;
}
a.listing:visited{
/*  color: #551A8B;*/
/*  color: #EA3223;*/
color:#32CD32;
}
a.link, a.link:hover, a.link:focus, a.link:active{
  color: whitesmoke;
}
a:hover{
  opacity: 0.9;
}
header{
	margin-top:100px;
}
#extra-back-button-for-no-reason{
      margin-top: -25px;
    margin-bottom: 25px;
    display: block;
    width: 200px;
    margin-left: 50px;
    text-decoration: underline;


}
.brown-pro{

  line-height: 1.3;
  letter-spacing: 0.02rem;
/*  font-size:24px;*/
}
p,h1{
  margin:0;
}
p{
  margin:15px 0;
}
.section{
  margin-top:5rem;
}
.oops-message{
  margin-top:75px;
  margin-left:50px;
}
h1,h2,h3,h4{
  font-size:40px;
  font-family: "TelegramaRaw", monospace;
  font-weight:normal;
  margin:0;
}

@media(max-width:768px){
  header{
    margin-top:50px;
  }
  h1,h2,h3,h4{
    font-size:20px;
  }
/*  .about h1,h2,h3,h4{
    font-size:34px;
  }*/
  body{
    font-size:15px;
  }
  .oops-message{
    margin-left:15px;
  }
 
}